 /* 🌟 General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}	

body {
    background: linear-gradient(to right, #f9f9f9, #e0f7fa);
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    text-align: center;
    -webkit-text-size-adjust: 100%;
}

form {
	width: 100%;
    background: #fff;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
	transition: all 0.3s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

/* Logo Styling */
.logo {
    text-align: center;
}

/* 🏆 Logo */
.logo img {
    max-width: 220px;
    margin-bottom: 20px;
}

 h1 {
	text-align:center;
    font-size: 3rem;
    margin-bottom: 15px;
    color: #333;
}		

label {
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
}

input {
    width: 100%;
    font-size: 2rem;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

input:focus {
    border-color: #008cff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 140, 255, 0.5);
}

select {
    width: 100%;
    font-size: 2rem;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

select:focus {
    border-color: #008cff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 140, 255, 0.5);
}

select option {
    padding: 12px;
    font-weight: bold;
        font-size: 0.7rem;
    background-color: white; /* Option background */
    color: #333; /* Text color */
}

/* Add Container Button - Blue */
        .add-container {
            background: linear-gradient(to bottom, #53c7fa, #53c7fa);
            color: white; /* White text color */
            border: none; /* Remove default border */
            padding: 30px 120px; /* Padding around the text */
            cursor: pointer; /* Change cursor to pointer */
            border-radius: 4px; /* Rounded corners */
            font-size: 1.8rem; /* Font size for the button */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            display: inline-flex;
			font-weight:bold;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center; /* Center align text */
        }

        .add-container .truck-text {
            position: absolute;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .add-container i {
			font-size: 1.8rem;
            margin-left: 12px;
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .add-container:hover {
            background-color: #ff1a1a;
        }

        .add-container:hover .truck-text {
            transform: translateX(-100%); /* Slide the text to the left */
            opacity: 0; /* Fade out the text */
        }

        .add-container:hover i {
            transform: translateX(0%); /* Slide the icon into the center */
            opacity: 1; /* Fade in the icon */
        }

        .truck-text {
            transition: opacity 0.3s ease;
        }

        .remove-container {
            background-color: #ff1a1a; /* Red background for delete */
            color: white; /* White text color */
            border: none; /* Remove default border */
            padding: 30px 120px; /* Padding around the text */
            cursor: pointer; /* Change cursor to pointer */
            border-radius: 4px; /* Rounded corners */
            font-size: 1.8rem; /* Font size for the button */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            display: inline-flex;
			font-weight:bold;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center; /* Center align text */
        }

        .remove-container .delete-text {
            position: absolute;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .remove-container i {
            margin-left: 12px;
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .remove-container:hover {
            background-color: #ff1a1a;
        }

        .remove-container:hover .delete-text {
            transform: translateX(-100%); /* Slide the text to the left */
            opacity: 0; /* Fade out the text */
        }

        .remove-container:hover i {
            transform: translateX(-30%); /* Slide the icon into the center */
            opacity: 1; /* Fade in the icon */
        }

        .delete-text {
            transition: opacity 0.3s ease;
        }
/* Sell Button - Green */
form button[type="submit"] {
    background: linear-gradient(to bottom, #37e57e, #77fbac);
	width: 100%;
    color: white;
    border: none;
    font-size: 2.5rem;
	font-weight:bold;
    padding: 30px 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;	
}


form button[type="submit"]:hover {
    background: linear-gradient(to bottom, #2ec16a, #5cc385);
	transform: scale(1.02);
}


#success-popup {
    display: none;
	position: fixed;
	top: 237px;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(to bottom, #37e57e, #77fbac);
	color: white;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-size: 3rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background: none;
    border-radius: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.home-icon img {
    display: block;
    width: 75px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
	padding: 0px;
}
		
.dropbtn:hover {
    background: none;
    transform: scale(1.02);
}

.dropbtn img {
    width: 75px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
	text-align: left;
    background-color: white;
    min-width: 350px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1;
    animation: slideDown 0.3s ease-in-out;
}

.dropdown-content a {
    display: block;
    padding: 40px;
	text-align:left;
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    transition: background 0.3s ease-in-out;
}	

.dropdown-content a:hover {
    background: #f0f0f0;
}	

/* 🎯 Active Page Highlight */
.navbar a.active {
	color:white;
	text-align:left;
    font-weight: bold;
    background: #2dabe2;
    padding: 40px;
    border-radius: 5px;
}	

.navbar a.active2 {
	text-align:left;
    border-radius: 5px;
}
.navbar a.active2:hover {
	color:white;
    background: linear-gradient(to bottom, #fb356c, #ff2832);
}

@media (min-width: 1024px) {
	

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    min-height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Logo Styling */
.logo {
    text-align: center;

}

/* 🏆 Logo */
.logo img {
    max-width: 100px;
	margin-bottom: 5px;
}

h1 {
    font-size: 1.3rem;
    color: #333;
	margin-bottom: 5px;
	text-align: center;
}

form {
    width: 30%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

}

label {
	margin-bottom: -10px;
	margin-top: -1%;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: -2%;
    display: block;
    text-align: left;
}

input {
	font-size: 0.8rem;
    width: 100%;
	margin-top: 0px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    transition: border 0.3s ease-in-out;
}

input:focus {
    border-color: #008cff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 140, 255, 0.5);
}

/* Styling for the dropdown options when hovering */
input:hover {
    border-color: #008cff; /* Highlight the border on hover */
}

select {
	font-size: 0.8rem;
    width: 100%;
	margin-top: 0px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    transition: border 0.3s ease-in-out;
}

select:focus {
    border-color: #008cff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 140, 255, 0.5);
}

/* Styling for the dropdown options when hovering */
select:hover {
    border-color: #008cff; /* Highlight the border on hover */
}


        .add-container {
            background: linear-gradient(to bottom, #53c7fa, #53c7fa);
            color: white; /* White text color */
            border: none; /* Remove default border */
            padding: 10px 40px; /* Padding around the text */
            cursor: pointer; /* Change cursor to pointer */
            border-radius: 4px; /* Rounded corners */
            font-size: 0.9rem; /* Font size for the button */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center; /* Center align text */
        }

        .add-container .truck-text {
            position: absolute;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .add-container i {
			font-size: 0.9rem;
            margin-left: 18px;
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .add-container:hover {
            background-color: #ff1a1a;
        }

        .add-container:hover .truck-text {
            transform: translateX(-100%); /* Slide the text to the left */
            opacity: 0; /* Fade out the text */
        }

        .add-container:hover i {
            transform: translateX(-50%); /* Slide the icon into the center */
            opacity: 1; /* Fade in the icon */
        }

        .truck-text {
            transition: opacity 0.3s ease;
        }

        .remove-container {
            background-color: #ff1a1a; /* Red background for delete */
            color: white; /* White text color */
            border: none; /* Remove default border */
            padding: 10px 40px; /* Padding around the text */
            cursor: pointer; /* Change cursor to pointer */
            border-radius: 4px; /* Rounded corners */
            font-size: 0.9rem; /* Font size for the button */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center; /* Center align text */
        }

        .remove-container .delete-text {
            position: absolute;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .remove-container i {
            margin-left: 12px;
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .remove-container:hover {
            background-color: #ff1a1a;
        }

        .remove-container:hover .delete-text {
            transform: translateX(-100%); /* Slide the text to the left */
            opacity: 0; /* Fade out the text */
        }

        .remove-container:hover i {
            transform: translateX(-50%); /* Slide the icon into the center */
            opacity: 1; /* Fade in the icon */
        }

        .delete-text {
            transition: opacity 0.3s ease;
        }


/* Sell Button - Green */
form button[type="submit"] {
	font-size: 1.0rem;
    background: linear-gradient(to bottom, #37e57e, #77fbac);
	width: 100%;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;	
}


form button[type="submit"]:hover {
    background: linear-gradient(to bottom, #2ec16a, #5cc385);
	transform: scale(1.05);
}


#success-popup {
    position: fixed;
    top: 150px;
	font-size: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* 🏠 Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: none;
    border-radius: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.home-icon img {
    display: block;
    width: 30px;
	transition: transform 0.3s ease-in-out;
}

.home-icon:hover img {
    transform: scale(1.2); /* Smoothly enlarge the icon on hover */
}


.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
	padding: 0px;
}

.dropbtn:hover {
    background: none;
    transform: scale(1.02);
}

.dropbtn img {
    width: 30px;
	transition: transform 0.3s ease-in-out;
}

.dropbtn:hover img {
    transform: scale(1.1); /* Smoothly enlarge the icon on hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1;
    animation: slideDown 0.3s ease-in-out;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: background 0.3s ease-in-out;
}

.dropdown-content a:hover {
    background: #f0f0f0;
}	
   
/* 🎯 Active Page Highlight */
.navbar a.active {
    font-weight: bold;
    background: #2dabe2;
    padding: 10px;
    border-radius: 5px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

	
}	
