 /* 🌟 General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}	

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f9f9f9, #e0f7fa);
	font-size: 0.8em;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch; /* Center vertically */
    justify-content: center; /* Center horizontally */
    min-height: 100vh; /* Ensure full height */
    text-align: center;
}

.container {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    padding: 25px;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

/* Logo Styling */
.logo {
    text-align: center;
}

/* 🏆 Logo */
.logo img {
	text-align: center;
    max-width: 220px;
    margin-bottom: 20px;
}

 h1 {
	text-align:center;
    font-size: 3rem;
    margin-bottom: 40px;
    color: #333;
}

option {
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    color: #333;
    border: none; /* Remove borders */
    transition: background-color 0.2s;
}

option:hover {
    background-color: #f1f1f1; /* Change background color on hover */
}

.buyer-filter{
	text-align:center;
}

/* Style the select dropdown */
select {
    padding: 15px;
    font-size: 1.5rem;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    cursor: pointer;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
}

select:focus {
    border-color: #008cff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 140, 255, 0.5);
}

/* Styling for the dropdown options when hovering */
select:hover {
    border-color: #008cff; /* Highlight the border on hover */
}

/* Style for options */
option {
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    color: #333;
    border: none; /* Remove borders */
    transition: background-color 0.2s;
}

option:hover {
    background-color: #f1f1f1; /* Change background color on hover */
}

/* Aligning Filter Section with the Table */
.filter-and-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.filter-section label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.filter-section button {
    padding: 15px 10px;
    font-size: 1.5rem;
    color: #fff;
    background: linear-gradient(to bottom, #37b0e5, #76d2fb);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.filter-section button:hover {
    background-color: #0056b3;
}

.filter-section input[type="date"] {
    border: 1px solid #ccc;
    transition: all 0.3s;
	padding: 15px;
    border-radius: 5px;
    font-size: 1.5rem;
}

.filter-section input[type="date"]:focus {
    border-color: #008cff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 140, 255, 0.5);
}

/* Styling for the dropdown options when hovering */
.filter-section input[type="date"]:hover {
    border-color: #008cff; /* Highlight the border on hover */
}
.buyer-filter input{
padding: 15px;
    font-size: 1.5rem;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
}



/* Table Wrapper Styling */
.table-wrapper {
    overflow-x: auto;
    margin-top: 20px;
}

/* General styling for table */
#payment-history-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#payment-history-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-size: 1.3rem;
}

#payment-history-table th {
    background: #2dabe2;
    padding: 10px;
    font-size: 1.3rem;
    text-align: left;
    color: white;
    font-weight: bold;
}

tfoot {
    font-weight: bold;
    background: #f8f8f8;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead th {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
}

tbody td, tfoot th {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

tfoot th {
    background-color: #f1f1f1;
    font-size: 1.2em;
    font-weight: bold;
}

#payment-history-table td:last-child {
    text-align: center;  /* Center-align the content of the last column */
}



        #export-btn {
            background: linear-gradient(to bottom, #2fc36b, #77fbac);
            color: white; /* White text color */
            border: none; /* Remove default border */
            padding: 15px 100px; /* Padding around the text */
            cursor: pointer; /* Change cursor to pointer */
            border-radius: 4px; /* Rounded corners */
            font-size: 1.5rem; /* Font size for the button */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center; /* Center align text */
			font-weight:bold;
        }

        #export-btn .excel-text {
            position: absolute;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        #export-btn i {
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        #export-btn:hover {
           background: linear-gradient(to bottom, #2fc36b, #77fbac);
        }

        #export-btn:hover .excel-text {
            transform: translateX(-100%); /* Slide the text to the left */
            opacity: 0; /* Fade out the text */
        }

        #export-btn:hover i {
            transform: translateX(-0%); /* Slide the icon into the center */
            opacity: 1; /* Fade in the icon */
        }

        .excel-text {
            transition: opacity 0.3s ease;
        }

        #export-pdf-btn {
			background: linear-gradient(to bottom, #2dabe2, #83d9ff); /* Red background for delete */
            color: white; /* White text color */
            border: none; /* Remove default border */
            padding: 15px 100px; /* Padding around the text */
            cursor: pointer; /* Change cursor to pointer */
            border-radius: 4px; /* Rounded corners */
            font-size: 1.5rem; /* Font size for the button */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center; /* Center align text */
			font-weight:bold;
        }

        #export-pdf-btn .pdf-text {
            position: absolute;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        #export-pdf-btn i {
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        #export-pdf-btn:hover {
            background: linear-gradient(to bottom, #2dabe2, #83d9ff); /* Red background for delete */
        }

        #export-pdf-btn:hover .pdf-text {
            transform: translateX(-100%); /* Slide the text to the left */
            opacity: 0; /* Fade out the text */
        }

        #export-pdf-btn:hover i {
            transform: translateX(-0%); /* Slide the icon into the center */
            opacity: 1; /* Fade in the icon */
        }

        .pdf-text {
            transition: opacity 0.3s ease;
        }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background: none;
    border-radius: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.home-icon img {
    display: block;
    width: 75px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
	padding: 0px;
}
		
.dropbtn:hover {
    background: none;
    transform: scale(1.02);
}

.dropbtn img {
    width: 75px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
	text-align: left;
    background-color: white;
    min-width: 350px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1;
    animation: slideDown 0.3s ease-in-out;
}

.dropdown-content a {
    display: block;
    padding: 40px;
	text-align:left;
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    transition: background 0.3s ease-in-out;
}	

.dropdown-content a:hover {
    background: #f0f0f0;
}	

/* 🎯 Active Page Highlight */
.navbar a.active {
	color:white;
	text-align:left;
    font-weight: bold;
    background: #2dabe2;
    padding: 40px;
    border-radius: 5px;
}	

.navbar a.active2 {
	text-align:left;
    border-radius: 5px;
}
.navbar a.active2:hover {
	color:white;
    	background: linear-gradient(to bottom, #fb356c, #ff2832);
}


 .edit-btn {
            background-color: #2fd57a; /* Red background for delete */
            color: white; /* White text color */
            border: none; /* Remove default border */
			padding: 8px 24px;
			margin: 5px 0px;
            cursor: pointer; /* Change cursor to pointer */
            border-radius: 4px; /* Rounded corners */
            font-size: 1.3rem; /* Font size for the button */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center; /* Center align text */
			font-weight:bold;
        }

        .edit-btn .edit-text {
            position: absolute;
            left: 8;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .edit-btn i {
            margin-left: 18px;
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .edit-btn:hover {
            background-color: #2fd57a;
        }

        .edit-btn:hover .edit-text {
            transform: translateX(-100%); /* Slide the text to the left */
            opacity: 0; /* Fade out the text */
        }

        .edit-btn:hover i {
            transform: translateX(-35%); /* Slide the icon into the center */
            opacity: 1; /* Fade in the icon */
        }

        .edit-text {
            transition: opacity 0.3s ease;
        }
		
        .delete-btn {
            background-color: #ff1a1a; /* Red background for delete */
            color: white; /* White text color */
            border: none; /* Remove default border */
            padding: 8px 30px; /* Padding around the text */
			margin: 5px 0px;
            cursor: pointer; /* Change cursor to pointer */
            border-radius: 4px; /* Rounded corners */
            font-size: 1.3rem; /* Font size for the button */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center; /* Center align text */
			font-weight:bold;
        }

        .delete-btn .delete-text {
            position: absolute;
            left: 8;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .delete-btn i {
            margin-left: 12px;
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .delete-btn:hover {
            background-color: #ff1a1a;
        }

        .delete-btn:hover .delete-text {
            transform: translateX(-100%); /* Slide the text to the left */
            opacity: 0; /* Fade out the text */
        }

        .delete-btn:hover i {
            transform: translateX(-40%); /* Slide the icon into the center */
            opacity: 1; /* Fade in the icon */
        }

        .delete-text {
            transition: opacity 0.3s ease;
        }



/* Style for the modal */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    backdrop-filter: blur(5px); /* Apply a blur effect to the background */
    -webkit-backdrop-filter: blur(5px); /* For Safari support */
}

/* Popup content */
.popup-content {
    background-color: #fefefe;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    margin: 20% auto;
    padding: 20px;
	border-radius:10px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

h2 {
	text-align:center;
    font-size: 2rem;
	margin-top: 30px;
    margin-bottom: 30px;
    color: #333;
}

/* Close button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form fields */
#edit-payment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#edit-payment-form label {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

#edit-payment-form input {
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for buttons */
#update-payment-btn {
    font-size: 1.5rem;
    background: linear-gradient(to bottom, #37e57e, #47a16b);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#update-payment-btn:hover {
    background-color: #45a049;
}




@media (min-width: 1024px) {
	
			body {
			font-family: Arial, sans-serif;
			background-color: #f9f9f9;
			font-size: 1.0rem;
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center; /* Center vertically */
			justify-content: center; /* Center horizontally */
			min-height: 100vh; /* Ensure full height */
			text-align: center;
		}
		
				.container {
			width: 55%;
			background: #fff;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
	
		h1 {
			font-size:1.5rem;
			text-align: center;
			margin-bottom: 20px;
		}
	
		    .logo img {
        max-width: 100px;
        margin: 0 auto 10px;
        display: block;
    }
	
		.filter-section label {
		font-size: 0.8rem;
		padding: 0px 10px;
		font-weight: bold;
		color: #333;
		margin-bottom: 5px;
	}
	
.filter-section button {
    padding: 7px 10px;
    font-size: 0.8rem;
	font-weight:bold;
    color: #fff;
    background: linear-gradient(to bottom, #37b0e5, #76d2fb);
    border: none;
    border-radius: 4px;
    cursor: pointer;
	transition: transform 0.3s ease-in-out;
}
	

.filter-section button:hover {
    transform: scale(1.1); /* Smoothly enlarge the icon on hover */
}

.filter-section input[type="date"] {
		border: 2px solid #cccccc;
        padding: 5px;
        border-radius: 5px;
        font-size: 0.8rem;
}
		

	/* 🏠 Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: none;
    border-radius: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.home-icon img {
    display: block;
    width: 30px;
	transition: transform 0.3s ease-in-out;
}

.home-icon:hover img {
    transform: scale(1.2); /* Smoothly enlarge the icon on hover */
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
	padding: 0px;
}

.dropbtn:hover {
    background: none;
    transform: scale(1.02);
}	
	
.dropbtn img {
    width: 30px;
	transition: transform 0.3s ease-in-out;
}

.dropbtn:hover img {
    transform: scale(1.1); /* Smoothly enlarge the icon on hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1;
    animation: slideDown 0.3s ease-in-out;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: background 0.3s ease-in-out;
}	

.dropdown-content a:hover {
    background: #f0f0f0;
}	

/* 🎯 Active Page Highlight */
.navbar a.active {
    font-weight: bold;
    background: #2dabe2;
    padding: 10px;
    border-radius: 5px;
}

.dropdown {
	position: relative;
	display: inline-block;
}
	




	/* Style the select dropdown */
	select {
		padding: 10px;
		font-size: 1rem;
		margin: 10px;
		border-radius: 5px;
		border: 1px solid #ccc;
		background-color: white;
		color: #333;
		cursor: pointer;
		transition: background-color 0.3s, border-color 0.3s;
	}

	select:focus {
		outline: none;
		background-color: #f1f1f1; /* Change background color on focus */
	}

	/* Style for options */
	option {
		padding: 10px;
		font-size: 0.8rem;
		background-color: white;
		color: #333;
		border: none; /* Remove borders */
		transition: background-color 0.2s;
	}

	option:hover {
		background-color: #f1f1f1; /* Change background color on hover */
	}

	/* Optional: Add a subtle box-shadow for a modern look */
	select {
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	}

	/* Style for the dropdown arrow */
	select {
		border: 2px solid #cccccc;
		padding: 5px;
        border-radius: 5px;
        font-size: 0.8rem;
	}

        .edit-btn {
            background-color: #2fd57a; /* Red background for delete */
            color: white; /* White text color */
            border: none; /* Remove default border */
			padding: 8px 15px;
			margin: 5px 0px;
            cursor: pointer; /* Change cursor to pointer */
            border-radius: 4px; /* Rounded corners */
            font-size: 0.8rem; /* Font size for the button */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center; /* Center align text */
			font-weight:bold;
        }

        .edit-btn .edit-text {
            position: absolute;
            left: 8;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .edit-btn i {
            margin-left: 18px;
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .edit-btn:hover {
            background-color: #2fd57a;
        }

        .edit-btn:hover .edit-text {
            transform: translateX(-100%); /* Slide the text to the left */
            opacity: 0; /* Fade out the text */
        }

        .edit-btn:hover i {
            transform: translateX(-50%); /* Slide the icon into the center */
            opacity: 1; /* Fade in the icon */
        }

        .edit-text {
            transition: opacity 0.3s ease;
        }
		
        .delete-btn {
            background-color: #ff1a1a; /* Red background for delete */
            color: white; /* White text color */
            border: none; /* Remove default border */
            padding: 8px 20px; /* Padding around the text */
			margin: 5px 0px;
            cursor: pointer; /* Change cursor to pointer */
            border-radius: 4px; /* Rounded corners */
            font-size: 0.8rem; /* Font size for the button */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center; /* Center align text */
			font-weight:bold;
        }

        .delete-btn .delete-text {
            position: absolute;
            left: 8;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .delete-btn i {
            margin-left: 12px;
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .delete-btn:hover {
            background-color: #ff1a1a;
        }

        .delete-btn:hover .delete-text {
            transform: translateX(-100%); /* Slide the text to the left */
            opacity: 0; /* Fade out the text */
        }

        .delete-btn:hover i {
            transform: translateX(-50%); /* Slide the icon into the center */
            opacity: 1; /* Fade in the icon */
        }

        .delete-text {
            transition: opacity 0.3s ease;
        }

#payment-history-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-size: 0.9rem;
}

#payment-history-table th {
    background: #2dabe2;
    padding: 10px;
    font-size: 0.9rem;
    text-align: left;
    color: white;
    font-weight: bold;
}

#payment-history-table td:last-child {
    text-align: center;  /* Center-align the content of the last column */
}


		/* Style for the modal */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Popup content */
.popup-content {
    background-color: #fefefe;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

/* Close button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form fields */
#edit-payment-form {
    align-items: stretch;
    flex-direction: column;
    gap: 5px;
}

#edit-payment-form label {
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
}

#edit-payment-form input {
    padding: 8px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for buttons */
#update-btn {
    font-size: 1.5rem;
    background: linear-gradient(to bottom, #37e57e, #47a16b);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

        #export-btn {
            background: linear-gradient(to bottom, #2fc36b, #77fbac);
            color: white; /* White text color */
            border: none; /* Remove default border */
            padding: 10px 60px; /* Padding around the text */
            cursor: pointer; /* Change cursor to pointer */
            border-radius: 4px; /* Rounded corners */
            font-size: 0.8rem; /* Font size for the button */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center; /* Center align text */
			font-weight:bold;
        }

        #export-btn .excel-text {
            position: absolute;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        #export-btn i {
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        #export-btn:hover {
            background: linear-gradient(to bottom, #2fc36b, #77fbac);
        }

        #export-btn:hover .excel-text {
            transform: translateX(-100%); /* Slide the text to the left */
            opacity: 0; /* Fade out the text */
        }

        #export-btn:hover i {
            transform: translateX(-0%); /* Slide the icon into the center */
            opacity: 1; /* Fade in the icon */
        }

        .excel-text {
            transition: opacity 0.3s ease;
        }

        #export-pdf-btn {
            background: linear-gradient(to bottom, #2dabe2, #83d9ff); /* Red background for delete */
            color: white; /* White text color */
            border: none; /* Remove default border */
            padding: 10px 60px; /* Padding around the text */
            cursor: pointer; /* Change cursor to pointer */
            border-radius: 4px; /* Rounded corners */
            font-size: 0.8rem; /* Font size for the button */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center; /* Center align text */
			font-weight:bold;
        }

        #export-pdf-btn .pdf-text {
            position: absolute;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        #export-pdf-btn i {
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        #export-pdf-btn:hover {
            background: linear-gradient(to bottom, #2dabe2, #83d9ff); /* Red background for delete */
        }

        #export-pdf-btn:hover .pdf-text {
            transform: translateX(-100%); /* Slide the text to the left */
            opacity: 0; /* Fade out the text */
        }

        #export-pdf-btn:hover i {
            transform: translateX(-0%); /* Slide the icon into the center */
            opacity: 1; /* Fade in the icon */
        }

        .pdf-text {
            transition: opacity 0.3s ease;
        }
		
 .buyer-filter input {
        border: 2px solid #cccccc;
        padding: 5px;
        border-radius: 5px;
        font-size: 0.8rem;
    }
}
	

