		/* General styling */
		body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            display: flex;
            min-height: 100vh;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .container {
            width: 90%;
            background: white;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
        }

		/* Header */
		.header {
			margin-bottom: 20px;
		}

		.logo {
			text-align: center;
			margin-bottom: 20px;
		}

		.logo img {
			max-width: 25%;
			margin: 0 auto 10px;
			display: block;
		}

		h1 {
			font-size: 2.5em;
			color: #333;
		}

		/* Filters Section */
		.filters {
			margin-bottom: 20px;
			display: flex;
			justify-content: center;
			gap: 15px;
			align-items: center;
		}

		.filters label {
			font-weight: bold;
			margin-right: 5px;
			font-size: 1.3rem;
		}

		.filters select {
			padding: 25px;
			border-radius: 5px;
			font-size: 1.3rem;
		}

		.filters button {
			
			padding: 25px;
			border-radius: 5px;
			border: 1px solid #ccc;
		}

		.filters button {
			background: linear-gradient(to bottom, #2dabe2, #83d9ff);
			color: white;
				font-size: 1.3rem;
			padding: 10px;
			font-weight: bold;
			border: none;
			cursor: pointer;
		}

		.filters button:hover {
			background: linear-gradient(to bottom, #1c8bb8, #63c6f5);
		}

		/* Table Styling */
		.table-container {
			overflow-x: auto;
		}

		#purchase-table {
			width: 100%;
			border-collapse: collapse;
			margin: 20px auto;
			background: white;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		}


		#purchase-table td {
			border: 1px solid #ccc;
			padding: 10px;
			text-align: left;
			font-size: 1.3rem;

		}

		#purchase-table th {
			background: #2dabe2;
			padding: 10px;
			font-size: 1.3rem;
			text-align:left;
			color: white;
			font-weight: bold;
		}

		tfoot {
			
			font-weight: bold;
			background: #f8f8f8;
		}

		/* Export Button */
		#export-btn {
			background: linear-gradient(to bottom, #37e57e, #77fbac);
			color: white;
			font-weight: bold;
			font-size: 1.5rem;
			padding: 15px 15px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		#export-btn:hover {
			background: linear-gradient(to bottom, #2ac363, #63e29b);
		}

		/* Export Button */
		#generate-invoice {
			background: linear-gradient(to bottom, #2dabe2, #83d9ff);
			color: white;
			font-weight: bold;
			font-size: 1.5rem;
			padding: 15px 15px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		#generate-invoice:hover {
			background: linear-gradient(to bottom, #1c8bb8, #63c6f5);
		}

		/* Style for disabled button */
		#generate-invoice:disabled {
			background: linear-gradient(to bottom, #797979, #cbcbcb);
			cursor: not-allowed;
		}


		/* Export Button 2 */
		#generate-all-buyers-invoice {
			background: linear-gradient(to bottom, #2dabe2, #83d9ff);
			color: white;
			margin-top:15px;
			font-weight: bold;
			font-size: 1.5rem;
			padding: 15px 15px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		#generate-all-buyers-invoice:hover {
			background: linear-gradient(to bottom, #1c8bb8, #63c6f5);
		}


		#generate-all-buyers-invoice:disabled {
			background: linear-gradient(to bottom, #797979, #cbcbcb);
			cursor: not-allowed;
		}

		option {
		font-weight: bold;
			font-size: 0.5rem;
		}

.home-icon img {
	display: block;
	width: 60px;
}
		
		.dropbtn img {
			position: absolute;
			display: block;
			width: 560%;
			float: left;
			top: -95%;
			left: -400%;
		}
		
				.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 20px;
		}

		.navbar a {
			text-decoration: none;
			color: white;
			font-size: 1rem;
		}

		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropbtn {
			background: none;
			border: none;
			cursor: pointer;
		}

		.dropdown-content {
			border-radius: 0px;
			display: none;
			position: absolute;
			float: left;
			top: 265%;
			left: -320px;
			text-align: left;
			background-color: white;
			min-width: 340px;
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
			z-index: 1;
		}

		.dropdown-content a {
			color: black;
			font-size: 1.8rem;
			padding: 50px 16px;
			text-decoration: none;
			display: block;
		}

		.dropdown-content a:hover {
			background-color: #ddd;
		}

		.navbar a.active {
			font-size: 1.8rem;
			font-weight: bold;
			background-color: #2dabe2;
			color: white;
			border-radius: 0px;
			padding: 50px;
		}
			


/* Edit Button Style */
button.edit-btn {
    padding: 8px 24px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 5px 0px;
    background: linear-gradient(to bottom, #37e57e, #47a16b);
    color: white;
}

button.edit-btn:hover {
    background-color: #45a049;  /* Darker Green */
    transform: scale(1.05);  /* Slight scale effect on hover */
}

/* Delete Button Style */
button.delete-btn {
    padding: 8px 12px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0 0px;
    background: linear-gradient(to bottom, #e5363b, #fb7679);
    color: white;
}

button.delete-btn:hover {
    background-color: #e53935;  /* Darker Red */
    transform: scale(1.05);  /* Slight scale effect on hover */
}

/* Disabled button (for visual feedback when not clickable) */
button[disabled] {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
    transform: none; /* Remove hover effect on disabled */
}

/* Style for the modal */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Popup content */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

/* Close button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form fields */
#edit-purchase-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#edit-purchase-form label {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

#edit-purchase-form input {
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for buttons */
#update-btn {
    font-size: 1.5rem;
    background: linear-gradient(to bottom, #37e57e, #47a16b);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#update-btn:hover {
    background-color: #45a049;
}



@media (min-width: 1281px) {
	/* General styling */
  body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            display: flex;
            min-height: 100vh;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .container {
            width: 90%;
            max-width: 875px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
        }

/* Header */
.header {
    margin-bottom: 20px;
}

.home-icon img {
	display: block;
	width: 32px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100px;
    margin: 0 auto 10px;
    display: block;
}

h1 {
    font-size: 1.5em;
    color: #333;
}

/* Filters Section */
.filters {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
	align-items: center;
}

.filters label {
    font-weight: bold;
    margin-right: 5px;
	font-size: 0.8em;
}

.filters select {
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
}

		option {
    font-weight: bold;
    font-size: 0.8rem;
}	

.filters button {
	font-size:0.8rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, #2dabe2, #83d9ff);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.filters button:hover {
    background: linear-gradient(to bottom, #1c8bb8, #63c6f5);
}

/* Table Styling */
.table-container {
    overflow-x: auto;
}

#purchase-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


#purchase-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
	font-size: 0.8em;
}

#purchase-table th {
    background: #2dabe2;
    color: white;
    font-weight: bold;
	border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
	font-size: 1em;
}

tfoot {
    font-weight: bold;
    background: #f8f8f8;
}

/* Export Button */
#export-btn {
	margin-top: -5px;
	font-size: 0.8rem;
    background: linear-gradient(to bottom, #37e57e, #77fbac);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#export-btn:hover {
    background: linear-gradient(to bottom, #2ac363, #63e29b);
}

/* Export Button */
#generate-invoice {
    background: linear-gradient(to bottom, #2dabe2, #83d9ff);
    color: white;
	margin-top: -5px;
	font-size: 0.8rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#generate-invoice:hover {
    background: linear-gradient(to bottom, #1c8bb8, #63c6f5);
}

/* Style for disabled button */
#generate-invoice:disabled {
    background: linear-gradient(to bottom, #797979, #cbcbcb);
    cursor: not-allowed;
}


/* Export Button 2 */
#generate-all-buyers-invoice {
    background: linear-gradient(to bottom, #2dabe2, #83d9ff);
    font-size: 0.8rem;
	color: white;
		margin-top: -5px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#generate-all-buyers-invoice:hover {
    background: linear-gradient(to bottom, #1c8bb8, #63c6f5);
}


#generate-all-buyers-invoice:disabled {
    background: linear-gradient(to bottom, #797979, #cbcbcb);
    cursor: not-allowed;
}


		
		.dropbtn img {
			position: absolute;
			display: block;
			width: 300%;
			float: left;
			top: -10%;
			left: -110%;
		}
		

		.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
		}

		.navbar a {
			text-decoration: none;
			color: white;
			font-size: 1rem;
		}

		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropbtn {
			background: none;
			border: none;
			cursor: pointer;
		}
		
		.dropbtn:hover {
		background: none; /* No background change on hover */
		}
		
    .dropdown-content {
        border-radius: 0px;
        display: none;
        position: absolute;
        float: left;
        top: 177%;
        left: -277px;
        text-align: left;
        background-color: white;
        min-width: 300px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
		}

		.dropdown-content a {
			color: black;
			font-size: 1.0rem;
			padding: 10px 16px;
			text-decoration: none;
			display: block;
		}

		.dropdown-content a:hover {
					background-color: #ddd;
				}


		.navbar a.active {
			font-size: 1.0rem;
			font-weight: bold;
			background-color: #2dabe2;
			color: white;
			border-radius: 0px;
			padding: 10px;
		}
		
		/* Style for the modal */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Popup content */
    .popup-content {
        background-color: #fefefe;
        margin: 4% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
}

/* Close button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form fields */
#edit-purchase-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#edit-purchase-form label {
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
}

#edit-purchase-form input {
        padding: 8px;
        font-size: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 5px;
}

/* Style for buttons */
#update-btn {
    font-size: 1.5rem;
    background: linear-gradient(to bottom, #37e57e, #47a16b);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#update-btn:hover {
    background-color: #45a049;
}

button.edit-btn {
    padding: 4px 20px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 5px 0px;
    background: linear-gradient(to bottom, #37e57e, #47a16b);
    color: white;
}

button.delete-btn {
    padding: 4px 13px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0 0px;
    background: linear-gradient(to bottom, #e5363b, #fb7679);
    color: white;
}

}